<form id="admin-form" action="#" onsubmit="return false;">
	<input type="text" id="form-title" placeholder="Title" name="title">
	<input type="text" id="form-tags" placeholder="Tags (separated by space)" name="tags">
	<textarea id="form-content" placeholder="Content (markdown supported)" name="content"></textarea>
	<div class="bottom">
		<p>Unlisted:</p>
		<input type="checkbox" id="form-unlisted" name="unlist">
	</div>
	<div class="form-buttons">
		<button id="form-submit">Submit</button>
		<button id="form-cancel">Cancel</button>
	</div>
</form>