<%% for (let post of posts) { %>
	<div class="post">
		<div class="info">
			<p class="date"><%%= post.date %></p>
			<% if (admin) { %>
			<p class="views"><%%= post.views || '0' %> views</p>
			<% } %>
		</div>
		<% if (admin) { %>
		<p class="title" contenteditable="true"><%%= post.title %></p>
		<% } else { %>
		<p class="title"><%%= post.title %></p>
		<% } %>
		<div class="bottom">
	
			<% if (admin) { %>
				
			<div class="tags" contenteditable="true" spellcheck="false">
				<%%- post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
			</div>
			<div class="icons">
				<img src="assets/delete.png" class="admin-delete">
				<img src="assets/unlist.png" class="admin-unlist">
				<%%- post.content ? '<img src="assets/content.png">' : '' %>
			</div>
	
			<% } else { %>
	
			<div class="tags">
				<%%- post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
			</div>
			<div class="icons">
				<%%- post.content && '<img src="assets/content.png">' %>
			</div>
	
			<% } %>
		</div>
	</div>
	<%% } %>