<% for (let post of posts) { %>
<div class="post">
	<div class="info">
		<p class="date"><%= post.date %></p>
	</div>
	<p class="title"><%= post.title %></p>
	<div class="bottom">
		<div class="tags">
			<%- post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
		</div>
		<div class="icons">
			<%- post.content && '<img src="assets/content.png">' %>
		</div>
	</div>
</div>
<% } %>