<div class="info">
	<p class="date"><%%= new Date(post.date).toLocaleString() %></p>
	<% if (admin) { %>
	<p class="views"><%%= post.views && post.views.toLocaleString() || '0' %> views</p>
	<% } %>
</div>

<% if (admin) { %>

<p class="title admin-control" contenteditable="true"><%%= post.title %></p>
<div class="tags admin-control" contenteditable="true" spellcheck="false">
	<%%- post.tags && post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
</div>
<div class="content admin-control" contenteditable="true">
	<%%- converter.makeHtml(post.content) %>
</div>
<% } else { %>

<p class="title"><%%= post.title %></p>
<div class="tags">
	<%%- post.tags && post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
</div>
<div class="content">
	<%%- new showdown.Converter({noHeaderId: true, simplifiedAutoLink: true, tasklists: true}).makeHtml(post.content) %>
</div>

<% } %>