.post.unlisted {
  opacity: 0.3;
}

.title:hover,
.tags:hover,
.content:hover {
  border-radius: 4px;
  background-color: var(--ui-background);
  cursor: text;
}
.title:focus,
.tags:focus,
.content:focus {
  outline: 1px solid var(--text-blur);
}

.icons > .admin-delete {
  opacity: 0.9;
}

#admin-add {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 8px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: var(--tag-blue);
  cursor: pointer;
  transition: transform 100ms ease-out;
}
#admin-add:hover {
  transform: scale(1.3);
}

#admin-form {
  position: fixed;
  top: 10vh;
  left: 15vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 60vw;
  height: max-content;
  border-radius: 6px;
  background-color: var(--ui-blur);
  box-shadow: 0 0 0 100vw #000000a3;
}

#admin-form > * {
  margin: 10px 0;
}

#admin-form > input,
#admin-form > textarea,
#admin-form button {
  padding: 6px;
  border: none;
  border-radius: 4px;
  background-color: var(--ui-background);
  color: var(--text-active);
  font-size: 22px;
}
#admin-form > input::placeholder,
#admin-form > textarea::placeholder {
  color: var(--text-blur);
}

#admin-form > textarea {
  height: 300px;
  font-size: 18px;
}

#admin-form > .bottom {
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

#admin-form input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: none;
  background-color: var(--ui-background);
}

#admin-form > .form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#admin-form > .form-buttons > button {
  color: var(--text-blur);
  cursor: pointer;
}
#admin-form > .form-buttons > button:hover {
  background-color: var(--ui-active);
  color: var(--text-active);
}