html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--ui-background);
  color: var(--text-blur);
  font-family: Calibri, sans-serif;
}

div,
h1,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  /* color: #0000dd; */
  color: var(--tag-blue);
}

/* ----------Global---------- */
:root {
  --tag-blue: #458bb1;
  --tag-green: #45b150;
  --text-active: #e1e1e1;
  --text-blur: #a1a1a1;
  --ui-active: #353535;
  --ui-background: #212121;
  --ui-blur: #292929;
}

/* ----------App---------- */
.list,
.viewer {
  overflow-y: auto;
  width: 50%;
}

.list,
.post,
.viewer {
  display: flex;
  flex-direction: column;
}

.viewer,
.post {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--ui-blur);
}

/* ----------List---------- */
.list {
  /*! padding: 4px 0; */
  /*! padding-left: 6px; */
  margin: 10px;
  margin-left: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  border: 1px solid  var(--text-blur);
  border-radius: 6px;
}

.search {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--ui-background);
  color: var(--text-active);
  font-size: 20px;
}
#search::placeholder {
  color: var(--text-blur);
}

.search-icon {
  padding: 6px;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  transition: opacity 100ms ease-out;
  transform: scaleX(-1);

  user-select: none;
}
.search:focus ~ .search-icon {
  opacity: 0.5;
}

.post {
  margin: 6px 0;
  cursor: pointer;
}
.post:hover,
.post.active {
  background-color: var(--ui-active);
}
/* FIXME: Fix this */
.post:first-child {
  margin-top: 0;
}

.info,
.tags {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.info {
  justify-content: space-between;
}

.title {
  color: var(--text-active);
  font-size: 28px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags {
  min-height: 24px;
  color: var(--tag-blue);
}

.post .tags {
  flex: 1;
  justify-content: flex-start;
}

.tags > .tag {
  margin: 0 4px;
  width: max-content;
  text-decoration: none;
}
.tags > .tag:before {
  content: '#';
}
.tags > .tag:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons > img {
  padding: 2px 4px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  opacity: 0.8;

  user-select: none;
}
.icons > img:hover {
  background-color: var(--ui-background);
}

/* ----------Viewer---------- */
.viewer {
  margin-right: 16px;
  padding: 16px;
}

.viewer > * {
  margin: 6px 0;
}

.viewer > #no-entry {
  margin: auto;
  width: max-content;
  height: max-content;
}

.viewer > #no-entry > h1 {
  font-size: 42px;
}

.viewer > #no-entry > p {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 30px;;
}

.viewer > #no-entry > p > img {
  margin: 0 4px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

.viewer > .info,
.viewer > .tags {
  font-size: 22px;
}

.viewer > .info {
  margin-top: 0;
}

.viewer > .title {
  font-size: 36px;
}

.viewer > .tags {
  min-height: 26px;
}

.viewer > .content {
  margin-top: 20px;
  text-align: justify;
  word-wrap: break-word;
  font-size: 22px;
}

.viewer > .content > p {
  margin-bottom: 20px;
}